/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/core/theming/prebuilt/indigo-pink.css";

md-card{
  margin: 1em 0;
}

md-card-actions{
  text-align: right;
}

md-toolbar .toolbar-center-spacer{
  flex: 1 1 auto;
}